<table class="ui celled table">
<thead>
<tr>
    <th> Date </th>
    <th> Weight </th>
    <th> Chest </th>
    <th> Thigh </th>
    <th> Upper Arm </th>
    <th> Waist </th>
    <th> Hips </th>
    <th> Trend </th>
    <th> Comment </th>
    <td></td>
</tr>
</thead>
{{#each assessments}}
<tr>
    <td>{{date}}</td>
    <td>{{weight}}</td>
    <td>{{chest}}</td>
    <td>{{thigh}}</td>
    <td>{{upperarm}}</td>
    <td>{{waist}}</td>
    <td>{{hips}}</td>
    <td>{{#unless trend}}
    <a class="ui red tag label"></a>
    {{else}}
    <a class="ui teal tag label"></a>
    {{/unless}}</td>
    <td>{{comment}}</td>
    <td>
        <a href="/dashboard/deleteassessment/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
        </a>
    </td>
</tr>
{{/each}}
</table>
