{{> menu id="settings"}}

<div class="ui two column grid basic middle aligned segment">
    <div class="column">
        <img class="ui image" src="https://image.freepik.com/free-vector/sports-fitness-illustration_24877-52367.jpg">
    </div>
    <div class="column">
        <form class="ui stacked segment form" action="/updatesettings" method="POST">
            <h3 class="ui header">Please Ammend Your Details in the below fields</h3>
            <div class="two fields">
                <div class="field">
                    <label>First Name</label>
                    <input placeholder="First Name" type="text" name="firstName" value="{{member.firstName}}">
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input placeholder="Last Name" type="text" name="lastName" value="{{member.lastName}}">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Email</label>
                    <input placeholder="Email" type="text" name="email" value="{{member.email}}">
                </div>
                <div class="field">
                    <label>Gender</label>
                    <input placeholder="Gender" type="text" name="gender" value="{{member.gender}}">
                </div>
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" value="{{member.password}}">
            </div>
            <div class="field">
                <label>Address</label>
                <input type="text" name="address" value="{{member.address}}">
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Height</label>
                    <input placeholder="Name" type="text" name="height" value="{{member.height}}">
                </div>
                <div class="field">
                    <label>Starting Weight</label>
                    <input placeholder="Starting Weight" type="text" name="startingWeight" value={{member.startingWeight}}>
                </div>
            </div>
            <button class="ui blue submit button">Submit</button>
        </form>
    </div>
</div>